  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   
    <h3 id="myModalLabel"><%= @modal_title %></h3>
  </div>

  <div class="modal-body"> 

  <%= link_to 'Ayuda', "#", :class=>"info" %> 

  <div id="map_canvas3" class="map_modal" data-map-output="map"></div>
      <%= nested_form_for [@university, @campus, @por], :validate => true, remote: true do |f| %>
      <%if @por.errors.any?%>
      <div id="error_explanation">Porfavor revisa los problemas que se muestran a continuacion: </div>
      <div class= "field_with_errors"><%= @por.errors[:latitude][0]%></div>
      <%end%>

        <%= f.label :name, "Nombre"%>
        <%= f.text_field :name, :placeholder => 'Nombre' %>

       
        <%= f.hidden_field :latitude, "data-map-output" => "marker-lat" %>
        <%= f.hidden_field :longitude, "data-map-output" => "marker-lng" %>
        <%= f.fields_for :dumps %>
		<p>
		  <%= f.link_to_add "Agregar Basurero", :dumps, :class => "btn" %>
		</p>
      <% end %>
  </div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary" id="por-save">Guardar</button>
</div>
