<h1 class= "text-center">Estadísticas de eventos de <%=@university.name%></h1>

<div class= "span6 offset3">
<%if @campuses.count >0 %>	
<div class="panel-group" id="accordion">
<% @campuses.each do |campus|%>
  <div class= "well clearfix">
	  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=campus.id%>">
          
         <h3><%= campus.name%></h3>

        </a>
      </h4>
    </div>
    <div id="collapse<%=campus.id%>" class="panel-collapse collapse out">
      <div class="panel-body">
        <% if campus.events.count >0 %>
	<table class= "table table-bordered">
		<tr>
			<th class="statistics">Evento</th>
			<th class="statistics">Asistentes</th>
		</tr>
    
	<%@events.each do |event,count|%>
		<%if count[0]==campus.id%>
			
			<tr>
				<td class="statistics"><%=event.name%></td>
				<td class="statistics"><%=count[1]%></td>
			</tr>
			
		<%end%>
	<%end%>
	</table>
	<%else%>
	<p>No hay datos disponibles para este campus</p>
	<%end%>
      </div>
    </div>
  </div>

</div>
<%end%>
</div>
<%else%>
<p id="event_no_data_msg" >No hay datos disponibles para esta universidad</p>
<%end%>
</div>




