<div class="span5 offset3">
	<div class="well well-large">
		<h2><%= t('.edit', :default => "Cambiar contrase침a") %></h2>
		<%= simple_form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <%if @user.errors.count<=1%>
        <h2><%= pluralize(@user.errors.count, "error") %> impidi칩 guardar los cambios</h2>
      <%else%>
        <h2><%= pluralize(@user.errors.count, "errores") %> impidieron guardar los cambios</h2>
      <%end%>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= f.label "Nueva contrase침a" %>
  <%= f.password_field :password %></div>

  <div><%= f.label "Confirmar nueva contrase침a" %>
  <%= f.password_field :password_confirmation %></div>

  <%= f.button :submit, :class => 'btn btn-medium btn-primary btn' %>
<% end %>
	</div>
</div>