<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Generar QR</h3>
</div>
<div class="modal-body">
	<p id="notice"><%= notice %></p>
	<row>
	<div class="span6">
	<h4><%=@event.description %></h4>

    <%=form_tag(:controller=> "events", :action=> "download", :event_id => @event.id) do%>
      <%= field_set_tag do %>
        <%= label_tag "Ancho" %>
        <%= text_field_tag 'width', '400' %>
        <%= label_tag "Alto" %>
        <%= text_field_tag 'height', '400' %>
      <% end %> 
      <button class="btn">Descargar</button>
    <%end%>
  </div>
  <div class="span6"><%= image_tag @url%></div>
  </row>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
</div>