<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= @modal_title %></h3>
  </div>

  <div class="modal-body" >

  <%= link_to 'Ayuda', "#", :class=>"info" %> 
  <div id="map_canvas2" class="map_modal" data-map-output="map"></div>


<%= simple_form_for [@university, @poi.campus, @poi],:validate => true, remote: true do |f| %>
 <%= f.error_notification %>
  <%if @poi.errors.any?%>
      <div class= "field_with_errors"><%= @poi.errors[:latitude][0]%></div>
      <%end%>
  <div class="form-inputs">
    
    <%= f.input :name ,:label=>"Nombre"%>
  
    <%= f.hidden_field :latitude, "data-map-output" => "marker-lat" %>
    <%= f.hidden_field :longitude, "data-map-output" => "marker-lng" %>
    <%= f.label :category_ids, "Categorías" %><br />
    <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {:selected => @poi.category_ids, :include_blank => true}, {multiple: true} %>
  </div>
<% end %>



</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary" id="poi-save">Guardar</button>
</div>
